* {
    font-style: italic;
    color: white;
    /*outline: 2px solid red;*/
    padding: 6px;
    margin: 5px;
    border: 3px solid red;
}

div.bold-text{
    font-weight: 700;
}
div {
    color:white;
}
body {
    background-color:rgb(33, 32, 32);
}
/*to make classes declare selector with . */
.alert {
    color:green;
}
/*to declare ids use #*/
#title {
    color: chartreuse;
}
.read , 
.unread {
    color: white;
    background-color: black;
}
.read {
    /*this allows specific specs*/

}
img {
    height: auto;
    width: 500px;
}
h1 {
    background-color: black;
    color: red;
    text-align: center;
    font-size: 32px;
}
button {
    background-color: black;
    color: crimson;
    
}
a {
    padding: 0px;
    margin: 0px;
    border: 0px solid red;
}
